name: CI

on:
  push:
    branches:
      - master
      - prod
      - release/*
  pull_request:
    branches:
      - master
      - prod
      - release/*

jobs:
  tests:
    runs-on: ubuntu-latest
    env:
      NODE_OPTIONS: "--max_old_space_size=8192"

    steps:
      - name: Instal nasm
        run:
          sudo apt install nasm

      - name: Instal nlohmann/json
        run: |
          git clone https://github.com/nlohmann/json.git
          cd json
          mkdir build
          cd build
          cmake ..
          make
          sudo make install

      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Install Node.js 14
        uses: actions/setup-node@v2
        with:
          node-version: '14'

      - name: Cache node modules
        uses: actions/cache@v2
        with:
        path: ~/.npm
        key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-node-

      - name: NPM install
        run: npm install

      - name: Run tests
        run: time npx ts-node ./test/test_all.ts
